.icon-block {
  display: block;
  text-align: center;
  font-size: 10em;
}
.text-center {
  text-align: center;
}
a, a:link, a:hover {
  text-decoration: none;
}
.title-big {
  text-align: center;
  font-size: 90px;
  font-weight: 900;
}
.title-big + * {
  margin-bottom: 36px;
  font-size: 22px;
}
.text-invert h1,
.text-invert h2,
.text-invert h3,
.text-invert h4,
.text-invert h5,
.text-invert h6,
.text-invert p,
.text-invert div {
  color: white;
}
.text-invert div.sub {
  color: #9575cd;
}
.text-invert h1 small,
.text-invert h2 small,
.text-invert h3 small,
.text-invert h4 small,
.text-invert h5 small,
.text-invert h6 small {
  color: #e2e2e2;
}

a.link-material,
a.link-material:link,
a.link-material i,
a.link-material:link i {
  color: #9575cd;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}
a.link-material:hover,
a.link-material:hover i {
  color: white;
}
a.link-material:hover i {
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}


div.spacer {
  margin-left:-15px;
  margin-right:-15px;
  width: calc(100% + 30px);
  height: 240px;
  background-size: cover;
}
div.spacer.spacer-top {
  background-position: center top;
}
@media (max-width:960px) {
  div.spacer {
      height: 180px;
  }
}

.row.row-max {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto
}
.row.row-title {
  height: calc(100vh - 480px);
  min-height: 280px;
}
@media (max-width:960px) {
  .row.row-title {
    height: calc(100vh - 360px);
    min-height: 460px;
  }
}
