.icon-block {
  display: block;
  text-align: center;
  font-size: 10em;
}
.text-center {
  text-align: center;
}
a, a:link, a:hover {
  text-decoration: none;
}
.title-big {
  text-align: center;
  font-size: 90px;
  font-weight: 900;
}
.title-big + * {
  margin-bottom: 36px;
  font-size: 22px;
}
